<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classes">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Aulas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="students">
      <ion-icon name="people"></ion-icon>
      <ion-label>Estudantes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
